.contacts {
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 120px;
  }

  &__img-container {
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 40px;

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      aspect-ratio: 340/600;

      @include tablet {
        aspect-ratio: 720/664;
        max-height: 664px;
      }

      @include laptop {
        aspect-ratio: 1200/664;
      }
    }
  }

  &__title {
    @include section-title;
    text-align: center;
    margin-bottom: 40px;
  }

  &__text {
    @include general-text;
    text-align: center;
    margin: 0 auto 40px;

    @include tablet {
      max-width: 600px;
    }
  }

  &__link {
    @include button-text;

    background-color: $secondary-button-bg-color;
    border-radius: 1000px;
    width: 100%;
    height: 48px;
    max-width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: auto;

    transition: background-color 0.25s ease-in;
    cursor: pointer;

    &:hover {
      background-color: $main-hover-bg-color;

      svg {
        margin-bottom: 16px;
      }
    }

    svg {
      fill: $secondary-icons-color;
      transition: margin-bottom 0.25s ease-in;
    }
  }
}
