.hero {
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    @include main-title;
    margin-bottom: 70px;
    text-align: center;

    br {
      display: block;

      @include laptop {
        display: none !important;
      }
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto 50px;
  }

  &__logos {
    &__title {
      @include general-text;
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px 20px;
    }
  }
}
