.hero {
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    @include main-title;
    margin-bottom: 120px;
    text-align: center;

    @include laptop {
      margin-bottom: 220px;
    }

    br {
      display: block;

      @include laptop {
        display: none !important;
      }
    }
  }

  &__picture-container {
    overflow: hidden;
    position: relative;
    opacity: 0;
    visibility: hidden;

    margin-bottom: 50px;

    &__bg {
      width: 100%;
      height: 362px;
      border-radius: 30px;
      background: $main-hover-bg-color;

      @include tablet {
        height: 362px;
      }

      @include laptop {
        height: 362px;
      }
    }

    &__image {
      position: absolute;
      left: 50%;
      bottom: -20%;
      transform: translateX(-50%);
      width: 100%;
      height: 105%;
      max-height: 542px;
      max-width: 248px;

      @include tablet {
        max-height: 422px;
        max-width: 650px;
        bottom: -10%;
      }
      @include laptop {
        max-height: 644px;
        max-width: 870px;
        bottom: -20%;
      }
    }
  }

  &__logos {
    &__title {
      @include general-text;
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px 20px;
    }
  }
}
