.container
  footer.footer
    ul.footer__nav-list
      li.footer__nav-list__item
        a.footer__nav-list__item__link(href="#benefits" rel="noopener noreferrer" aria-label="Link to Benefits section")
          span.real Benefits
          span.fake Benefits
      li.footer__nav-list__item
        a.footer__nav-list__item__link(href="#specifications" rel="noopener noreferrer" aria-label="Link to Specifications section")
          span.real Specifications
          span.fake Specifications
      li.footer__nav-list__item
        a.footer__nav-list__item__link(href="#how-to" rel="noopener noreferrer" aria-label="Link to How-to section")
          span.real How-to
          span.fake How-to

    .footer__logo-terms-rights-container
      .footer__logo-terms-container
        img.footer__logo-terms-container__logo(src="/images/logo.svg", alt="Logo of the project")

        ul.footer__logo-terms-container__terms-list
          li.footer__logo-terms-container__terms-list__item
            p.footer__logo-terms-container__terms-list__item__text &#169; Area.
          li.footer__logo-terms-container__terms-list__item
            p.footer__logo-terms-container__terms-list__item__text 2025

      p.footer__logo-terms-rights-container__rights-text All Rights Reserved
