section.benefits.container(id="benefits", data-animate)
  .benefits__container(data-animate)
    p.benefits__container__label Benefits
    h2.benefits__container__title We&apos;ve cracked the code.
    p.benefits__container__description Area provides real insights, without the data overload.

  ul.benefits__list
    li.benefits__list__item(data-animate)
      svg.benefits__list__item__icon(width="24" height="24")
        use(href='/images/sprite.svg#icon-cable')
      h3.benefits__list__item__title Amplify Insights
      p.benefits__list__item__text Unlock data-driven decisions with comprehensive analytics, revealing key opportunities for strategicregional growth.

    li.benefits__list__item(data-animate)
      svg.benefits__list__item__icon(width="24" height="24")
        use(href='/images/sprite.svg#icon-earth')
      h3.benefits__list__item__title Control Your Global Presence
      p.benefits__list__item__text Manage and track satellite offices, ensuring consistent performance and streamlined operations everywhere.

    li.benefits__list__item(data-animate)
      svg.benefits__list__item__icon(width="24" height="24")
        use(href='/images/sprite.svg#icon-human')
      h3.benefits__list__item__title Remove Language Barriers
      p.benefits__list__item__text Adapt to diverse markets with built-in localization for clear communication and enhanced user experience.

    li.benefits__list__item(data-animate)
      svg.benefits__list__item__icon(width="24" height="24")
        use(href='/images/sprite.svg#icon-chart')
      h3.benefits__list__item__title Visualize Growth
      p.benefits__list__item__text Generate precise, visually compelling reports that illustrate your growth trajectories across all regions.

  .benefits__img-container(data-animate)
    img.benefits__img-container__img(src="/images/benefit-section-img.jpg", alt="Image with mountains")