section.contacts.container(id="contact-us")
  .contacts__img-container(data-animate)
    picture
      source(srcset="/images/map-section-img.webp" media="(min-width:320px)" type="image/webp")
      source(srcset="/images/map-section-img.jpg" media="(min-width:320px)" type="image/jpg")
      img.contacts__img-container__img(src="/images/map-section-img.jpg", alt="Image with landscape" loading="lazy")


  h2.contacts__title(data-animate) Connect with us

  p.contacts__text(data-animate) Schedule a quick call to learn how Area can turn your regional data into a powerful advantage.

  a.contacts__link(href="https://www.figma.com/sites/?fuid=1108818761824813856", target="_blank", rel="noopener noreferrer" aria-label="Link for opening figma site", data-animate)
    span Discover More
    svg.contacts__link__icon(width="8" height="8")
      use(href="/images/sprite.svg#icon-arrow")