section.discover.container
  .discover__container
    h2.discover__title(data-animate) See the Big Picture
    p.discover__description(data-animate) Area turns your data into clear, vibrant visuals that show you exactly what's happening in each region.

    ol.discover__list
      li.discover__list__item(data-animate)
        p.discover__list__item__text Spot Trends in Seconds: No more digging through numbers.
      li.discover__list__item(data-animate)
        .discover__list__item__text Get Everyone on the Same Page: Share easy-to-understand reports with your team.
      li.discover__list__item(data-animate)
        p.discover__list__item__text Make Presentations Pop: Interactive maps and dashboards keep your audience engaged.
      li.discover__list__item(data-animate)
        p.discover__list__item__text Your Global Snapshot: Get a quick, clear overview of your entire operation.

    .discover__link-container(data-animate)
      a.discover__link(href="https://www.figma.com/sites/?fuid=1108818761824813856", target="_blank", rel="noopener noreferrer" aria-label="Link for opening figma site") Discover More

  .discover__img-container
    img.discover__img-container__img(src="/images/discover-section-img.jpg", alt="Image with cubic figures")