section.hero.container
   h1.hero__title(data-hero-title) Browse<br> everything
   picture
     source(srcset="/images/desk-hero.jpg" media="(min-width:1280px)")
     source(srcset="/images/tab-hero.jpg" media="(min-width:768px)")
     img.hero__image(src="/images/mob-hero.jpg", alt="Image with phone" width="340", data-hero-image)

   h2.hero__logos__title(data-animate) Trusted by:
   ul.hero__logos__list(data-animate)
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-1.svg", alt="Logo image" width="150")
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-2.svg", alt="Logo image" width="150")
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-3.svg", alt="Logo image" width="150")
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-4.svg", alt="Logo image" width="150")
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-5.svg", alt="Logo image" width="150")
     li.hero__logos__item
       img.hero__logos__item__image(src="/images/logos/logo-6.svg", alt="Logo image" width="150")
