section.map.container(id="how-to")
  .map__title-link-container(data-animate)
    h2.map__title-link-container__title Map Your Success
    a.map__title-link-container__link(href="https://www.figma.com/sites/?fuid=1108818761824813856", target="_blank", rel="noopenernoreferrer" aria-label="Link for opening figma site") Discover More

  ul.map__list
    li.map__list__item(data-animate)
      h3.map__list__item__title Get Started
      p.map__list__item__text With our intuitive setup, you&apos;re up and running in minutes.
    li.map__list__item(data-animate)
      h3.map__list__item__title Customize and Configure
      p.map__list__item__text Adapt Area to your specific requirements and preferences.
    li.map__list__item(data-animate)
      h3.map__list__item__title Grow Your Business
      p.map__list__item__text Make informed decisions to exceed your goals.