section.specs.container(id="specifications")
  p.specs__label(data-animate) Specs
  h2.specs__title(data-animate) Why Choose Area?
  p.specs__description(data-animate) You need a solution that keeps up. That&apos;s why we developed Area. A developer-friendly approach tostreamline your business.
  a.specs__link(href="https://www.figma.com/sites/?fuid=1108818761824813856", target="_blank", rel="noopener noreferrer" aria-label="Linkfor opening figma site", data-animate) Discover More

  ul.specs__list
    li.specs__list__item(data-animate)
      h3.specs__list__item__title Area

      ul.specs__sublist
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Ultra-fast browsing
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Advanced AI insights
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Seamless integration
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Advanced AI insights
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Ultra-fast browsing
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Full UTF-8 support

    li.specs__list__item(data-animate)
      h3.specs__list__item__title WebSurge

      ul.specs__sublist
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Fast browsing
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Basic AI recommendations
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Restricts customization
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Basic AI insights
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-check")
          p.specs__sublist__item__text Fast browsing
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Potential display errors

    li.specs__list__item(data-animate)
      h3.specs__list__item__title HyperView

      ul.specs__sublist
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Moderate speeds
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text No AI assistance
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Steep learning curve
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text No AI assistance
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Moderate speeds
        li.specs__sublist__item
          svg.specs__sublist__item__icon(width="14" height="14")
            use(href="/assets/images/sprite.svg#icon-close")
          p.specs__sublist__item__text Partial UTF-8 support
