@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('Roboto Mono'),
    url('/fonts/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('Crimson Text'),
    url('/fonts/crimson-text-v19-latin-regular.woff2') format('woff2');
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
