@import './vars';
@import './mixins';

@import './reset';
@import './base';
@import './container';

@import './components//header';
@import './components/footer.scss';

@import './sections/hero.scss';
@import './sections/benefits.scss';
@import './sections/discover.scss';
@import './sections/specification.scss';
@import './sections/quotes.scss';
@import './sections/map.scss';
@import './sections/contacts.scss';
