$default-font: 'Roboto Mono', sans-serif;
$secondary-font: 'DM Sans', sans-serif;
$tertiary-font: 'Crimson Text', sans-serif;

$main-bg-color: #fff;
$main-text-color-dark: #000;
$main-text-color-light: #fff;
$secondary-text-color: #6f6f6f;
$tertiary-text-color: #929292;
$accent-text-color: #485c11;
$main-icons-color: #000;
$secondary-icons-color: #fff;
$main-border-color: #e9e9e9;
$secondary-border-color: #929292;
$secondary-border-color: rgba(0, 0, 0, 0.05);
$main-box-shadow: rgba(0, 0, 0, 0.08);
$main-button-bg-color: #dfecc6;
$secondary-button-bg-color: #485c11;
$tertiary-button-bg-color: #8e9c78;
$additional-button-bg-color: #e4e4e4;
$header-bg: rgba(255, 255, 255, 0.4);
$main-hover-bg-color: #8e9c78;
$secondary-hover-bg-color: #dfecc6;
$main-hover-text-color: #fff;
