doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    link(rel='icon' type='image/svg+xml' href='/images/logo.svg')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Promo page for analytic app')
    title Area product lunch
    link(rel='stylesheet' href='./css/styles.scss')

  body
    include ./partials/components/header.pug

    main
      include ./partials/sections/hero.pug
      include ./partials/sections/benefits.pug
      include ./partials/sections/discover.pug
      include ./partials/sections/specification.pug
      include ./partials/sections/quotes.pug
      include ./partials/sections/map.pug
      include ./partials/sections/contacts.pug

    include ./partials/components/footer.pug

    script(type='module' src='./main.js')